/*===================================================
 ブログ - 共通
====================================================*/
.blog {
  &__item {
    // テキスト部分
    &__txt {
      &-info {
        color: $info;
        padding-right: 1rem;
      }

      &-cat {
        color: $info;
        border-left: 1px solid $info;
        border-right: 1px solid $info;
        margin-right: 1rem;
        padding: 0 1rem;
      }
    }
  }
}
/*===================================================
 ブログ一覧
====================================================*/
.blog {
  &__list {
    &__wrap {
      width: 32%;
      margin-right: 1.5%;
      margin-bottom: 2rem;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &__nav {
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .nav-item {
      width: 20%;
      padding: 10px 0;
      border-radius: 0;
      color: $secondary;
      border: 1px solid $secondary;
      font-size: 0.9375rem;

      &.active {
        color: $white;
        background: $secondary;
      };
    }
  }
}

/*===================================================
 ページネーション
====================================================*/
.wp-pagenavi {
  clear: both;
  text-align: center;
  margin: 2rem auto 3rem;
}

.wp-pagenavi a,
.wp-pagenavi span {
  color: $primary;
  background-color: #FFFFFF;
  border-color: $primary!important;
  padding: 12px 15px;
  border-radius: 50%;
  margin: 0 2px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border: 1px solid $light;
  transition: 0.3s;
}

.wp-pagenavi span:first-child {
  border: none;
}

.wp-pagenavi a:hover {
  color: #fff;
  background-color: $primary;
}

.wp-pagenavi span.current {
  color: #fff;
  background-color: $primary;
}
