body {
  font-size: 0.875rem;
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.06em;
}

a {
  transition: .5s;
  &:hover {
    text-decoration: none;
    opacity: .5
  }
}

.lh-l {
  line-height: 2;
}

.btn-primary {
  border: 1px solid $white;
  padding: 1rem 0;
  text-align: center;
  min-width: 220px;
  position: relative;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 4px);
    right: 2rem;
    width: 8px;
    height: 8px;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    transform: rotate(45deg);
    transition: 0.5s;
  }

  &:hover {
    background: $white;
    color: $primary;
    border: 1px solid $white;
    opacity: 1;

    &::after {
      border-top: 1px solid $primary;
      border-right: 1px solid $primary;
    }
  }

  &-b {
    border: 1px solid $primary;
    padding: 1rem 0;
    text-align: center;
    min-width: 220px;
    position: relative;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 4px);
      right: 2rem;
      width: 8px;
      height: 8px;
      border-top: 1px solid $primary;
      border-right: 1px solid $primary;
      transform: rotate(45deg);
      transition: 0.5s;
    }

    &:hover {
      background: $primary;
      color: $white;
      border: 1px solid $primary;
      opacity: 1;

      &::after {
        border-top: 1px solid $white;
        border-right: 1px solid $white;
      }
    }
  }
}

.main-ttl {
  span {
    font-size: .875rem;
    margin-left: 2rem;
  }
}
