/*===================================================
  お問い合わせ
====================================================*/
.contact {
  // 電話番号
  &__tel {
    font-weight: 300;
    font-size: 2.25rem;

    span {
      font-size: 1.25rem;
      margin-right: 10px;
    }
  }
  // フォーム
  &__form {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;

    &-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      @include media-breakpoint-down(md) {
        display: block;
        margin: 0 0 20px;
      }
    }

    &-head {
      width: 30%;
      padding: 15px 0 0;
      border: none;
      background: none;
      color: #222;
      vertical-align: top;
      position: relative;
      font-weight: normal;
      font-size: 0.9375rem;
      line-height: 1.6rem;
      letter-spacing: 2.5px;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0 0 5px;
      }
    }

    &-content {
      width: 70%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    input,
    optgroup,
    select,
    textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid $success;
      border-radius: 3px;
      padding: 9px 20px;
      width: 100%;
      font-size: 0.9375rem;
      line-height: 1.6rem;
      letter-spacing: 2.5px;
      position: relative;
      display: block;
      @include media-breakpoint-down(md) {
        padding: 11px 20px;
      }
    }
    // セレクト
    .select-wrap {
      position: relative;
      margin-bottom: 1.5rem;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1rem;
        width: 8px;
        height: 8px;
        border: 0;
        border-top: solid 2px #222;
        border-right: solid 2px #222;
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        position: absolute;
        margin-top: -4px;
      }
    }
    // 送信ボタン
    [type="submit"]:not(:disabled) {
      display: block;
      width: 320px;
      background: $primary;
      color: #FFF;
      padding: 18px 0;
      margin: 35px auto 45px;
      text-align: center;
      font-size: 17px;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin: 0 auto 35px;
      }
    }
  }
}
