/*===================================================
 フッター
====================================================*/
.footer {
  @include media-breakpoint-up(md) {
    margin-left: 63px;
  }
  // ------------------ お問い合わせリンク ------------------
  &__contact {
    &__bg {
      background: url("../images/footer_bg.png");
      background-size: cover;
      width: 100%;
      height: 374px;
    }

    &__bg {
      background: url("../images/footer_bg.png");
      background-size: cover;
      width: 100%;
      height: 254px;
    }

    &__inner {
      position: absolute;
      right: 0;
      bottom: -5rem;
      width: 60%;
      @include media-breakpoint-down(md) {
        width: 90%;
      }

      h2,
      p {
        @include media-breakpoint-down(md) {
          margin-bottom: 1rem!important;
        }
      }

      .footer__contact-arrow {
        position: relative;
        left: 0;
        transition: 0.3s;
      }

      &:hover {
        .footer__contact-arrow {
          position: relative;
          left: 2rem;
        }
      }
    }
  }
  // ------------------ グレー部分 ------------------
  &__main {
    padding: 8rem 3rem 4rem;
    @include media-breakpoint-down(md) {
      padding: 8rem 15px 5rem;
    }

    &__main {
      padding: 4rem 3rem;
      @include media-breakpoint-down(md) {
        padding: 3rem 15px 5rem;
      }

      ul {
        @include media-breakpoint-down(md) {
          margin-top: 2rem;
          font-size: 1rem;
        }

        li {
          @include media-breakpoint-down(md) {
            line-height: 2;
          }
        }
      }
    }

    &__info {
      &-name {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }
}
