.header {
  // PC時のみ
  @include media-breakpoint-up(md) {
    width: 63px;
    height: 100vh;
    border-right: 1px solid $info;
    position: fixed;
    background: $white;
    z-index: 2;
  }

  &__wrap__logo {
    @include media-breakpoint-up(md) {
      position: fixed;
      top: 9px;
      left: 9px;
    }
  }

  &__nav {
    @include media-breakpoint-up(md) {
      position: fixed;
      top: 0;
      left: 63px;
      width: 375px;
      height: 100vh;
      background: $white;
      z-index: 2;
    }

    &:after {
      @include media-breakpoint-up(md) {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(366, 366, 366, .5);
      }
    }

    &-inner {
      @include media-breakpoint-up(md) {
        left: 63px;
        z-index: 1;
        width: 375px;
        height: 100vh;
        z-index: 2;
        display: flex;
        align-items: center;
      }
    }

    &-link {
      font-size: 1.625rem;
      display: block;
      font-weight: bold;
    }

    &__sub {
      &-link {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.navbar {
  &-toggler {
    border: none;
    @include media-breakpoint-up(md) {
      position: fixed;
      top: calc(50% - 19px);
      padding: 0;
    }
  }
}

main {
  @include media-breakpoint-up(md) {
    margin-left: 63px;
  }
}

.mv {
  position: relative;
  height: 580px;
  @include media-breakpoint-up(md) {
    width: 100%;
    height: 652px;
  }

  &__bg {
    &::after {
      content: '';
      width: 80%;
      height: 100%;
      background: url("../images/mv_pc@2x.png");
      background-size: cover;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
      border-radius: 30px 0 0 0;
      margin-top: 1.5rem;
      @include media-breakpoint-down(md) {
        background: url("../images/mv_sp@2x.png");
        background-size: cover;
        width: 100%;
      }
    }
  }

  &__content {
    position: absolute;
    left: 3rem;
    z-index: 1;
    bottom: 1rem;

    &-ttl {
      font-size: 50px;
      margin-top: 4rem;
      letter-spacing: 6px;
    }
  }
}
