.top {
  &__mv {
    position: relative;
    width: 100%;
    height: 652px;
    @include media-breakpoint-down(md) {
      height: 580px;
    }

    &__bg {
      &::after {
        content: '';
        width: 80%;
        height: 94%;
        background: url("../images/mv_pc@2x.png");
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        border-radius: 30px 0 0 0;
        margin-top: 1.5rem;
        @include media-breakpoint-down(md) {
          background: url("../images/mv_sp@2x.png");
          background-size: cover;
          width: 95%;
        }
      }
    }

    &__content {
      position: absolute;
      left: 3rem;
      z-index: 1;
      bottom: 1rem;
      @include media-breakpoint-down(md) {
        top: 9px;
        left: 9px;
      }

      &-logo {}

      &-ttl {
        font-size: 50px;
        margin-top: 9rem;
        letter-spacing: 6px;
        @include media-breakpoint-down(md) {
          font-size: 40px;
          margin-top: 0;
          line-height: 3rem;
        }
      }
    }
  }

  &__info {
    padding: 1.5rem;
    @include media-breakpoint-down(md) {
      padding: 1.5rem 1rem;
    }

    &__inner {
      width: 90%;
      margin: 0 auto;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    &-ttl {
      font-size: 1.2rem;
      letter-spacing: 3px;
      margin: 0;
      @include media-breakpoint-down(md) {
        margin-bottom: 1rem;
      }

      &::after {
        content: "";
        width: 79px;
        height: 1px;
        display: inline-block;
        margin: 0 0 5px 2rem;
        background: $primary;
      }
    }

    &-day {
      margin-right: 2rem;
      @include media-breakpoint-down(md) {
        margin-right: 10px;
      }
    }
  }

  &__about {
    position: relative;
    @include media-breakpoint-down(md) {
      width: 90%;
      margin: 0 auto;
    }

    &-ttl {
      font-size: 1.625rem;
      font-weight: bold;
      letter-spacing: 3px;
    }

    &-txt {
      width: 75%;
      @include media-breakpoint-down(md) {
        width: 100%!important;
      }
    }
  }

  &__links {
    &__wrap {
      z-index: -2;
    }

    &__store {
      .top__link-item {
        background: url("../images/store_bg.png");
        background-size: cover;
      }
    }

    &-item {
      width: 50%;
      transition: 0.5s;
      object-fit: cover;
      position: relative;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      a {
        &:hover {
          opacity: 1;
        }
      }

      &:nth-child(1) {
        background: url("../images/link_bg_1.png");
        background-size: cover;
      }

      &:nth-child(2) {
        background: url("../images/link_bg_2.png");
        background-size: cover;
      }

      &:nth-child(3) {
        background: url("../images/link_bg_3.png");
        background-size: cover;
      }

      &:nth-child(4) {
        background: url("../images/link_bg_4.png");
        background-size: cover;
      }

      &:hover {
        // border: 7px solid $secondary;
      }
    }
  }

  &__blog {
    .slick-blog {
      width: 100%;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
      }
    }

    .slick-dots {
      text-align: center;
      margin: 1rem auto 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 15px;

        button {
          position: relative;
          text-indent: -9999px;
          border: none;
          background: rgba(0, 0, 0, 0);

          &:before {
            content: '●';
            color: $info;
            font-size: 10px;
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        &.slick-active {
          button:before {
            content: '●';
            color: $secondary;
          }
        }
      }
    }

    .slide-arrow {
      position: absolute;
      top: calc(50% - 26.5px);
      margin-top: -15px;
    }

    .prev-arrow {
      left: -40px;
      width: 53px;
      height: 53px;
      background: url("../images/slick_arrow_l.svg");
      border: none;
      @include media-breakpoint-down(md) {
        left: 0;
      }
    }

    .next-arrow {
      right: -40px;
      width: 53px;
      height: 53px;
      background: url("../images/slick_arrow_r.svg");
      border: none;
      @include media-breakpoint-down(md) {
        right: 0;
      }
    }
  }

  &__relation {
    &-img {
      border: 5px solid $success;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}
