/*===================================================
  お知らせ
====================================================*/
.news {
  &__wrap {
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__item {
    position: relative;
    display: flex;
    border-bottom: 1px solid $success;
    padding-right: 40px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 33px;
      height: 4.7px;
      background: url("../images/news_arrow.png");
      background-size: cover;
    }

    &-ttl {
      width: 74%;
      display: block;
    }

    &-day {
      display: block;
      width: 26%;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
